<!DOCTYPE html>
<html class="no-js js-menubar" lang="en"
	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- this is only for responsive design to zoom 100%-->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="og:title" property="og:title" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta property="og:type" content="website">
    <meta property="og:description" content="">
    <meta property="og:site_name" content="">

    <title>Tr&#236;nh l&#227;nh đạo k&#253; duyệt</title>

    <link rel="shortcut icon" th:href="@{../Content/Images/Shortcut.ico}">
	
	<!-- Stylesheets -->
	<link th:href="@{../Content/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{../Content/css/bootstrap-extend.min.css}" rel="stylesheet">
	<link th:href="@{../Content/css/site.min.css}" rel="stylesheet">

	<!-- Plugins -->
	<link th:href="@{../Content/Vendor/animsition/animsition.css}" rel="stylesheet">
	<link th:href="@{../Content/Vendor/asscrollable/asScrollable.css}" rel="stylesheet">
	<link th:href="@{../Content/Vendor/switchery/switchery.css}" rel="stylesheet">
	<link th:href="@{../Content/Vendor/intro-js/introjs.css}" rel="stylesheet">
	<link th:href="@{../Content/Vendor/slidepanel/slidePanel.css}" rel="stylesheet">
	<link th:href="@{../Content/Vendor/jquery-mmenu/jquery-mmenu.css}" rel="stylesheet">
	<link th:href="@{../Content/Vendor/chartist/chartist.css}" rel="stylesheet">
	<link th:href="@{../Content/Vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.css}" rel="stylesheet">
	<link th:href="@{../Content/Vendor/toastr/toastr.css}" rel="stylesheet">
	<link th:href="@{../Content/css/toastr.css}" rel="stylesheet">

<!-- Fonts -->
	<link th:href="@{../fonts/material-design/material-design.min.css}" rel="stylesheet">
	<link th:href="@{../fonts/font-awesome/font-awesome.css}" rel="stylesheet">
	<link th:href="@{../fonts/web-icons/web-icons.min.css}" rel="stylesheet">

	<!--[if lt IE 9]>
	    <script src="../../global/vendor/html5shiv/html5shiv.min.js"></script>
	    <![endif]-->
	<!--[if lt IE 10]>
	    <script src="../../global/vendor/media-match/media.match.min.js"></script>
	    <script src="../../global/vendor/respond/respond.min.js"></script>
	    <![endif]-->
	<!-- Scripts -->
	
	<script th:src="@{../Content/Vendor/jquery/jquery.js}"></script>
	<script th:src="@{../Content/Vendor/breakpoints/breakpoints.js}"></script>    
    <script>
        Breakpoints();
    </script>
    <style>
        .css-menubar .page, .css-menubar .site-footer {
            margin-left: 0px !important;
        }

        .modal-info .modal-body {
            padding: 20px !important;
        }

        div[role='log'] {
            display: none;
        }

        #popupMain .modal-header {
            background-image: url("../Content/Images/icons/warning.png");
            background-position: center;
            background-repeat: no-repeat;
            min-height: 165px;
        }

        .site-menu-item.active {
            background: rgba(0, 0, 0, 0.1);
        }

        .loader-container {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 9;
            background: rgba(245,244,245,0.75);
            display: flex;
            align-items: center;
            top: 0px;
            left: 0px;
            display: none;
        }

        .loader-message {
            position: absolute;
            top: calc(50% + 35px);
            width: 100%;
            text-align: center;
            font-weight: 500;
        }

        .loader-container-inline {
            margin-top: 1.0em;
            display: none;
        }

            .loader-container-inline .loader {
                width: .75em;
                height: .75em;
            }
            #number_notif{
                display: none;
            }
        .unselectable {
            pointer-events: none;
            opacity: 0.5; /* Optional: to visually indicate that the element is disabled */
        }
    </style>
</head>
<body class="animsition site-navbar-small dashboard">
    <input id="mesg_type" type="hidden" />
    <input id="mesg_value" type="hidden" />
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega" role="navigation">

        <div class="navbar-header">
            <button type="button" class="navbar-toggler hamburger hamburger-close navbar-toggler-left hided"
                    data-toggle="menubar">
                <span class="sr-only">Toggle navigation</span>
                <span class="hamburger-bar"></span>
            </button>
            <button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-collapse"
                    data-toggle="collapse">
                <i class="icon wb-more-horizontal" aria-hidden="true"></i>
            </button>
            <div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="">
                <img class="navbar-brand-logo" style="margin-left: -8px" th:src="@{../Content/Images/Shortcut.ico}" title="UIC-Kyso" />
                <span class="navbar-brand-text hidden-xs-down"> UIC - KÝ SỐ</span>
            </div>
        </div>
        <div class="navbar-container container-fluid">
            <!-- Navbar Collapse -->
            <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
                <!-- Navbar Toolbar -->
                <ul class="nav navbar-toolbar">
                    <li class="nav-item hidden-float hidden-md-up" id="toggleMenubar">
                        <a class="nav-link" data-toggle="menubar" href="#" role="button">
                            <i class="icon hamburger hamburger-arrow-left">
                                <span class="sr-only">Toggle menubar</span>
                                <span class="hamburger-bar"></span>
                            </i>
                        </a>
                    </li>
                </ul>
                <!-- End Navbar Toolbar -->
                <!-- Navbar Toolbar Right -->
                <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
                    <li class="nav-item dropdown nav-account">
                        <a class="nav-link navbar-avatar" data-toggle="dropdown" href="#" aria-expanded="false"
                           data-animation="scale-up" role="button">
                            <small style="font-weight:500;text-transform:uppercase;">Dương Văn Chiến</small>
                            <span class="avatar avatar-online" style="width:30px;height:30px;overflow:hidden;">
                                    <img id="avatar-img" th:src="@{../Content/Images/avatar.jpg}" />
                            </span>
                            <span></span>
                        </a>
                        <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" href="/Account/Info" role="menuitem"><i class="icon wb-user" aria-hidden="true"></i> Thông tin tài khoản</a>                            
                            <div class="dropdown-divider" role="presentation"></div>
<form action="/Account/LogOut" method="post"><input name="__RequestVerificationToken" type="hidden" value="XwGcQLlxD6tFBzOuxgyKkdInNLlV-aUA8fOh1s3Ys6pcka5KhtzNTrgQHw1RyuRCcNqfVSXgWC9H6WxrJd7MQbits2Q1" />                                <button class="dropdown-item" type="submit" role="menuitem"><i class="icon wb-power" aria-hidden="true"></i> Đăng xuất</button>
</form>                        </div>
                    </li>                    
                </ul>
                <!-- End Navbar Toolbar Right -->
            </div>            
            <!-- End Navbar Collapse -->
            <!-- Site Navbar Seach -->
            <!-- End Site Navbar Seach -->
        </div>
    </nav>

    <div class="site-menubar  ">
     

        <ul class="site-menu">
                <li class="site-menu-item nav-account">
                    <a href="/Home/Dashboard">
                        <i class="site-menu-icon md-view-dashboard" aria-hidden="true"></i>
                        <span class="site-menu-title"> Dashboard</span>
                    </a>
                </li>
            <li class="site-menu-item nav-signature has-sub">
                <a href="javascript:void(0)">
                    <i class="site-menu-icon md-border-color" aria-hidden="true"></i>
                    <span class="site-menu-title">Giao dịch Ký số</span>
                    <span class="site-menu-arrow"></span>
                </a>
                <ul class="site-menu-sub">
                    <li class="site-menu-item nav-sign">
                        <a class="animsition-link" href="/Signature/Index">
                            <span class="site-menu-title">Ký số</span>
                        </a>
                    </li>
                    <li class="site-menu-item nav-verify">
                        <a class="animsition-link" href="/Verify/Index">
                            <span class="site-menu-title">Kiểm tra chữ ký</span>
                        </a>
                    </li>
                    <li class="site-menu-item nav-verify">
                        <a class="animsition-link" href="/Signature/InitByPartner">
                            <span class="site-menu-title">Trình ký</span>
                        </a>
                    </li>
                </ul>
            </li>
            
                <li class="site-menu-item nav-group">
                    <a href="/Account/Group">
                        <i class="site-menu-icon md-accounts" aria-hidden="true"></i>
                        <span class="site-menu-title">Quản lý tài khoản</span>
                    </a>
                </li>

            <li class="site-menu-item nav-group">
                <a href="/Transactions/WaitingTran">
                    <i class="site-menu-icon wb-envelope" aria-hidden="true"></i>
                    <span class="site-menu-title">Giao dịch chờ xác nhận</span>
                </a>
            </li>
                <li class="site-menu-item nav-group">
                    <a href="/Transactions/GroupIndex">
                        <i class="site-menu-icon md-time" aria-hidden="true"></i>
                        <span class="site-menu-title">Lịch sử giao dịch</span>
                    </a>
                </li>

                <li class="site-menu-item nav-group">
                    <a href="/SystemConfig/Index">
                        <i class="site-menu-icon md-settings" aria-hidden="true"></i>
                        <span class="site-menu-title"> Cài đặt</span>
                    </a>
                </li>

        </ul>
    </div>            
    <!-- Modal -->
    <div class="modal fade modal-primary" id="popupMain" aria-hidden="true" aria-labelledby="popupMain"
         role="dialog" tabindex="-1">
        <div class="modal-dialog modal-simple">
            <div class="modal-content">
                <div class="modal-header"></div>
                <div class="modal-body">
                    <div class="panel">
                        <div class="panel-heading" style="padding: 0px;">
                            <h3 class="panel-title text-center"></h3>
                        </div>
                        <div class="panel-body">
                            <div class="text-center">
                                <button type="button" class="btn btn-primary btn-outline float-center" data-dismiss="modal">OK</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- End Modal -->
    <!-- Page -->
    

<link th:href="@{../Content/Vendor/dropify/dropify.css}" rel="stylesheet"/>
<link th:href="@{../Content/Vendor/dropify/dropify.min.css}" rel="stylesheet" />
<link th:href="@{../Content/css/signature.css}" rel="stylesheet"/>
<link th:href="@{../Content/css/location.css}" rel="stylesheet"/>
<link th:href="@{../Content/css/signature/signature-worker.css}" rel="stylesheet"/>

<style>
    .page-aside-inner {
        height: 100%;
        overflow: hidden;
    }

    .example-loading {
        height: 100% !important;
    }

    .example {
        margin: 0px;
    }

    #sign-loading {
        height: 150px !important;
    }

    #loading-message {
        top: 140px;
    }

    .dropify-wrapper {
        background-color: transparent;
        height: 200px !important;
    }

    #signature-wizard::before {
        background-size: 35%
    }

    #examplePositionSidebar .panel-heading {
        padding: 40px;
    }

    #examplePositionSidebar .panel-actions {
        width: 100%;
        padding: 10px 20px;
        right: 0px;
    }

    #examplePositionSidebar .input-search {
        width: 100%;
    }
    @media (max-width: 767px) {
        #examplePositionSidebar .panel-heading {
            padding: unset;
        }
    }
    .modal-sidebar .modal-content{
        background-color: #f3f7f9;
    }

    #signature-page .panel {
        padding-top: 50px;
        min-height: 0px !important;
    }

</style>
<div id="signature-page" class="page page-user">
    <div class="page-header">
        
        
        
        
        
        
        <h1 class="page-title">Trình lãnh đạo ký duyệt</h1>
    </div>

    <div class="page-content app-mailbox">
        <div class="panel panel-bordered panel-primary" id="signature-wizard">
            <div class="panel-body">
                <div class="row" data-plugin="matchHeight" data-by-row="true">
                    <div class="col-xs-6 offset-xs-3 col-lg-6 offset-lg-3 init-view">
                        <div class="file-input-container">
                            <input type="file" id="input-file-max-fs" data-max-file-size="15M"/>
                        <div class="action-row">
                            <button disabled type="button" id="btnTrinhKy" class="btn btn-lg btn-block btn-outline btn-info sign-tool-sel" name="CurrentStep" data-target="#examplePositionSidebar" data-toggle="modal">
                                <i class="icon fa fa-send" aria-hidden="true"></i>
                                <span>Trình lãnh đạo ký duyệt</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>




<!-- Modal -->
<div class="modal fade" id="examplePositionSidebar" aria-hidden="true" aria-labelledby="examplePositionSidebar"
     role="dialog" tabindex="-1" style="
    z-index: 999999;
    margin-top: 60px;">
    <div class="modal-dialog modal-simple modal-sidebar modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="search-friends panel">
                    <div class="panel-heading">
                        <div class="panel-actions">
                            <div class="input-search input-group-sm">
                                <button type="submit" id="search-partner" class="input-search-btn">
                                    <i class="icon wb-search" aria-hidden="true"></i>
                                </button>
                                <input maxlength="255" type="text" class="form-control" id="keyword" name="keyword" placeholder="Tìm kiếm...">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Search Panel -->
                <!-- Firends List -->
                <div class="test app-location-list">
                    <div data-role="container">
                        <div data-role="content">
                            <div id="partner-list" class="list-group flex-row flex-wrap">

                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Firends List -->
            </div>
            
        </div>
    </div>
</div>
<!-- End Modal -->
<!-- Modal -->
<div class="modal fade modal-fade-in-scale-up" id="shareTranModal" aria-hidden="true"
     aria-labelledby="exampleModalTitle" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-simple modal-center">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Xác nhận chuyển</h4>
            </div>
            <form action="/Signature/InitByPartner" method="post" id="share-tran-form">
                <div class="modal-body">
                    <input type="hidden" id="fileName" name="fileName" class="form-control fileName" readonly="readonly">
                    <input type="hidden" id="fileContent" name="fileContent" style="visibility:hidden;display:none;" value="">
                    <input type="hidden" id="file-type" name="type"/>
                    <input type="hidden" id="file-size" name="size"/>
                    <input type="hidden" id="file-contenttype" name="contentType"/>
                    <input type="hidden" id="partner-email" name="partnerEmail"/>
                    <div class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-xl-12 col-md-3 form-control-label">
                                Xác nhận chuyển tài liệu đã ký tới đối tác <strong id="partner-name"></strong>.
                            </label>
                        </div>
                        <div class="form-group row">
                            <label class="col-xl-12 col-md-3 form-control-label">
                                Thông điệp
                                <span class="required text-danger">*</span>
                            </label>
                            <div class="col-xl-12 col-md-9">
                                <textarea class="form-control" name="message" rows="3" placeholder="Nội dung gửi tới đối tác..."
                                          required="" oninvalid="this.setCustomValidity('Không được bỏ trống')"
                                          oninput="setCustomValidity('')" maxlength="500"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-outline btn-animate btn-animate-side" data-dismiss="modal">
                        <span><i class="icon fa fa-close"></i>&nbsp;&nbsp;Đóng</span>
                    </button>
                    <button type="submit" class="btn btn-primary btn-animate btn-animate-side" id="share-tran-submit">
                        <span><i class="icon fa fa-send-o" aria-hidden="true"></i>&nbsp;&nbsp;Xác nhận</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
    <script th:src="@{../Content/Vendor/babel-external-helpers/babel-external-helpers.js}"></script>
	<script th:src="@{../Content/Vendor/popper-js/umd/popper.min.js}"></script>
	<script th:src="@{../Content/Vendor/bootstrap/bootstrap.js}"></script>
	<script th:src="@{../Content/Vendor/animsition/animsition.js}"></script>
	<script th:src="@{../Content/Vendor/mousewheel/jquery.mousewheel.js}"></script>
	<script th:src="@{../Content/Vendor/asscrollbar/jquery-asScrollbar.js}"></script>
	<script th:src="@{../Content/Vendor/asscrollable/jquery-asScrollable.js}"></script>

	<script th:src="@{../Content/Vendor/jquery-mmenu/jquery.mmenu.min.all.js}"></script>
	<script th:src="@{../Content/Vendor/switchery/switchery.js}"></script>
	<script th:src="@{../Content/Vendor/intro-js/intro.js}"></script>
	<script th:src="@{../Content/Vendor/screenfull/screenfull.js}"></script>
	<script th:src="@{../Content/Vendor/slidepanel/jquery-slidePanel.js}"></script>
	<script th:src="@{../Content/Vendor/matchheight/jquery.matchHeight-min.js}"></script>
	<script th:src="@{../Content/Vendor/toastr/toastr.min.js}"></script>
	<script th:src="@{../Content/js/moment.js}"></script>

    <script th:src="@{../Content/js/Component.js}"></script>
	<script th:src="@{../Content/js/Plugin.js}"></script>
	<script th:src="@{../Content/js/Base.js}"></script>
	<script th:src="@{../Content/js/Config.js}"></script>

    <script th:src="@{../Content/js/GridMenu.js}"></script>
	<script th:src="@{../Content/js/Menubar.js}"></script>
	<script th:src="@{../Content/js/PageAside.js}"></script>
	<script th:src="@{../Content/js/Sidebar.js}"></script>
	<script th:src="@{../Content/js/matchHeight.js}"></script>

    <script th:src="@{../Content/js/colors.js}"></script>

	<script th:src="@{../Content/js/Site.js}"></script>

	<script th:src="@{../Content/js/toastr.js}"></script>

    
    <script th:src="@{../Content/Vendor/formvalidation/formValidation.js}"></script>
    <script th:src="@{../Content/Vendor/formvalidation/framework/bootstrap4.js}"></script>
    <script th:src="@{../Content/Vendor/formvalidation/language/vi_VN.js}"></script>
    <script th:src="@{../Content/js/filesize.js}"></script>
    <script th:src="@{../Content/Vendor/dropify/dropify.js}"></script>
    <script th:src="@{../Content/js/dropify.js}"></script>
    <script th:src="@{../Content/js/Ultilities.js}"></script>
    <script>

        var selectFileCallback = function (file, fileBase64) {
            selectFileCallBack(file, fileBase64);
        }

        function selectFileCallBack(file, fileBase64) {
            if (!fileBase64.trim()) {
                //TODO when read file error
            }

            $('#file-size').val(filesize(file.size));
            $('#file-contenttype').val(file.type);
            var fileSplit = file.name.split(".");
            var fileExtension = fileSplit[fileSplit.length - 1].toLowerCase();
            $('#file-type').val(fileExtension);

            document.getElementById('fileName').value = file.name;
            document.getElementById('fileName').innerHTML = file.name;

            var dataIndex = fileBase64.indexOf("base64,") + 7;
            var data = fileBase64.substr(dataIndex);
            $('#fileContent').val(data);
        }

        // Tim kiem doi tac
        $('#search-partner').click(function () {
            searchPartner();
        });
        $('#keyword').keydown(Delay(function (e) {
        var textSearch = this.value;
        if(textSearch.length >= 2 || e.which === 13)
          searchPartner(textSearch);
        else if(textSearch.length == 0)
            $('#partner-list').html("");
        }, 600));

        function searchPartner(value) {
        if(value == undefined || value == "") value = $('#keyword').val();
        if (value != null) value = value.trim();
        $('#cert-list').empty();
        $('#partner-list').html("<div class='list-group-item col-xxl-12 friend-info' data-friend-id='f_1'> <img src='/Content/Vendor/images/preloader.gif' style='width:100%'></div>");
            $.ajax({
                url: "/Home/SearchForPartner",
                data: {
                    keyword: value
                },
                success: function (result) {
                    $('#partner-list').html(result);
                    $('.friend-info').click(function () {
                        var partnerName = $(this).find('.friend-name').text();
                        var partnerEmail = $(this).find('.friend-title').text();
                        $('#partner-name').text(partnerName);
                        $('#partner-email').val(partnerEmail);
                        $('#examplePositionSidebar').modal('hide');
                        $('#shareTranModal').modal('show');
                    });
                    $('.test').resize();
                },
                error: function () {
                    $('#partner-list').html("");
                    $('.example-loading').hide();
                }
            });
        }

        var fileSelector = $('#input-file-max-fs').dropify({
            CallBack: selectFileCallback,
            messages: {
                'default': 'Kéo tệp cần ký vào khung này hoặc click để chọn',
                'replace': 'Kéo tệp cần ký vào khung này hoặc click để thay thế',
                'remove': 'Hủy chọn tệp',
                'error': 'Đã có lỗi xảy ra'
            },
            errorsPosition: 'outside',
            error: {
                'fileSize': 'Kích thước tệp quá lớn (tối đa {{ value }}).',
                'fileExtension': 'Định dạng chưa được hỗ trợ ({{ value }}).',
                'fileEmpty': 'Chưa chọn tệp cần ký'
            },
            allowedFileExtensions: ['pdf', 'xml', 'docx', 'xlsx', 'pptx', 'txt']
        });

        fileSelector.on('dropify.fileReady', function (event, element) {
        });
        $('#input-file-max-fs').change(function(e){
        if(this.value != undefined)
            $("#btnTrinhKy").prop("disabled", false);
        else $("#btnTrinhKy").prop("disabled", true);
        })

        this.fileSelector.on('dropify.afterClear', function () {
            $("#btnTrinhKy").prop("disabled", true);
        });
        // A $( document ).ready() block.
        $(document).ready(function() {
            searchPartner();
        });
    </script>

    
    <script>
        (function (global, factory) {
            if (typeof define === "function" && define.amd) {
                define('/pages/faq', ['jquery', 'Site'], factory);
            } else if (typeof exports !== "undefined") {
                factory(require('jquery'), require('Site'));
            } else {
                var mod = {
                    exports: {}
                };
                factory(global.jQuery, global.Site);
                global.pagesFaq = mod.exports;
            }
        })(this, function (_jquery, _Site) {
            'use strict';

            var _jquery2 = babelHelpers.interopRequireDefault(_jquery);

            (0, _jquery2.default)(document).ready(function () {
                (0, _Site.run)();

                if ((0, _jquery2.default)('.faq-list').length) {
                    (0, _jquery2.default)('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                        (0, _jquery2.default)(e.target).addClass('active').siblings().removeClass('active');
                    });
                }
            });
        });
    </script>
    <script>
        function showMessage(mesg, type) {
            toastr.options.closeButton = true;
            toastr.options.timeOut = 10000;
            toastr.options.extendedTimeOut = 100;
            toastr.options.progressBar = true;
            switch (type) {
                case 'info':
                    toastr.info(mesg, 'THÔNG BÁO');
                    break;
                case 'error':
                    toastr.error(mesg, 'LỖI');
                    break;
                case 'warning':
                    toastr.warning(mesg, 'CẢNH BÁO');

                    break;
                default:

            }
        }
        $(document).ready(function () {
            //loadProfileImage();
            var mesgVal = $('#mesg_value').val();
            var mesgType = $('#mesg_type').val();
            if (mesgVal != '') {
                showMessage(mesgVal, mesgType);
                var url = window.location.href;
                url = url.substring(0, url.indexOf("message=") - 1);
                window.history.pushState({}, document.title, url);

                if (mesgType.startsWith("modal")) {
                    showModalMain('');
                    $("#popupMain").modal({ backdrop: 'static', keyboard: false });
                }
            }

            if (mesgType.startsWith('popup')) {
                $('#' + mesgType).modal('show');
                var url = window.location.href;
                url = url.substring(0, url.indexOf("message") - 1);
                window.history.pushState({}, document.title, url);
            }

        });
        function showModalMain(msgType) {
            var type = "";
            if (msgType.endsWith("warning")) { type = "warning"; }
            if (msgType.endsWith("error")) { type = "error"; }
            if (msgType.endsWith("success")) { type = "success"; }
            $("#popupMain .modal-header").css("background-image", "url('../Content/Images/icons/" + type + ".png')");
        }        
    </script>

</body>
</html>
